services:
  setup:
    image: python:3.11-slim
    container_name: lms_setup
    restart: "no"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      PROJECT_NAME: learning_prod_setup
      ADMIN_EMAIL: lgotcfg@gmail.com
      SITE_DOMAIN: academy.growatt.app
    command: >
      bash -c "
      apt-get update -qq &&
      apt-get install -y wget curl unzip &&
      wget -q https://frappe.io/easy-install.py &&
      python3 easy-install.py deploy
        --project=${PROJECT_NAME}
        --email=${ADMIN_EMAIL}
        --image=ghcr.io/frappe/lms
        --version=stable
        --app=lms
        --sitename ${SITE_DOMAIN} &&
      docker compose -p ${PROJECT_NAME} exec backend bench set-config -g server_script_enabled 1
      "